
.navbar-default {
  background-color: #ffffff;
  border: none;
  margin: 0;
}

.navbar-nav {
  @media (max-width: 768px) {
    margin: 0;
  }
}

.header-container {
  @media (max-width: 768px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.container .navbar-header {
  @media (min-width: 768px) {
    margin-right: -15px;
    margin-left: -15px;
  }
}

.navbar-header {
  padding: 7px 0 0 0;
}

.navbar-brand {
  @media (max-width: 320px) and (max-width: 480px) {
    padding: 25px 0 0 0;
  }
}

#main-nav {
  padding: 0;
}

#menu-main-menu {
  color: #383838;
  text-transform: uppercase;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 13px;
  li {
    padding-top: 20px;
    @media (max-width: 992px) {
      padding-top: 5px;
    }
  }
  li.active a {
    background-color: transparent;
    color: #ff0000;
  }
  li a:hover {
    color: #ff0000;
  }
  li.open a {
    background-color: transparent;
    color: #ff0000;
  }
}

#menu-main-menu .menu-button {
  background-color: #ff0000;
  width: 140px;
  height: 40px;
  text-transform: uppercase;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 13px;
  margin: 25px 0;
  border-color: transparent;
  @media (max-width: 992px) {
    margin: 10px 0 15px 15px;
  }
  a {
    color: #ffffff;
    text-align: center;
    margin-top: -25px;
    @media (max-width: 992px) {
      margin-top: -10px;
    }
  }
  li.active a {
    color: #ffffff;
  }
  a:hover {
    color: #ffffff;
  }
  @media (min-width: 1200px) {
    margin-left: 50px;
  }
  @media (max-width: 992px) {
    width: 120px;
    height: 30px;
  }
}

.caret {
  @media (min-width: 992px) {
    display: none;
  }
}

.dropdown:hover .dropdown-menu {
  @media (min-width: 992px) {
    display: block;
  }
}

#menu-main-menu .dropdown-menu {
  right: -25px;
  background-color:#e30a0a;
  padding: 5px;
  min-width: 145px;
  box-shadow: none;
  border: none;
  li {
    padding: 5px;
  }
  li a {
    font-size: 13px;
    color: #ffffff;
    padding: 3px 0 3px 7px;
    text-transform: none;
    @media (max-width: 992px) {
      color: #383838;
      padding: 3px 0 3px 5px;
    }
  }
  li a:hover {
    background-color: #000000;
    @media (max-width: 992px) {
      background-color: transparent;
    }
  }
  @media (max-width: 992px) {
    position: static;
    background-color: white;
  }
}

#menu-main-menu .dropdown-menu:before {
  content:"";
  position: absolute;
  left: 25px;
  top: -7px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 7px 7px 7px;
  border-color: transparent transparent #e30a0a transparent;
  z-index:9999;
  @media (max-width: 768px) {
    border-width: 0;
  }
  @media (max-width: 992px) {
    border-width: 0;
  }
}

#menu-main-menu .dropdown-menu:after {
  content:"";
  position: absolute;
  left: 4px;
  top: -15px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 14px 14px 14px;
  border-color: transparent transparent #ffffff transparent;
  z-index:9998;
}

.navbar-toggle {
  padding: 15px 15px;
  margin-top: 20px;
}

@media (max-width: 992px) {
  .navbar-header {
    float: none;
  }
  .navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-nav {
    float: none !important;
    margin-top: 7.5px;
  }
  .navbar-nav > li {
    float: none;
  }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in {
    display: block !important;
  }
}
