
.navbar-default {
  background-color: #ffffff;
  border: none;
  margin: 0;
}

.header-container {
  padding: 0;
  height: 90px;
}

.navbar-header {
  padding: 0;
}

#main-nav {
  padding: 0;
}

#menu-main-menu {
  color: #383838;
  text-transform: uppercase;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 13px;
  li {
    padding-top: 15px;
  }
}